:root {
  --dkCyan: hsl(185, 75%, 39%);
  --dkBlue: hsl(229, 23%, 23%);
  --dkGrayBlue: hsl(227, 10%, 46%);
  --dkGray: hsl(0, 0%, 59%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dkCyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: right 47vw bottom 40vh, left 45vw top 40vh;
}

img {
  display: block;
}
.no-margin {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.cardOuter {
  height: 373px;
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
}

.cardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--dkGray);
}

.info__image {
  border: 5px solid white;
  border-radius: 50%;
  margin: -3rem auto;
  align-items: center;
}

.age,
.town,
.stats__text {
  font-weight: 400;
  color: var(--dkGray);
}
.name {
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dkBlue);
}

.stats__spot {
  padding-top: 1rem;
}
.stats__number {
  color: var(--dkBlue);
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.stats__text {
  font-size: 0.875rem;
  margin: 10px 0;
}

footer,
.footer {
  /* margin-top: 2.2rem; */
  display: flex;
  justify-content: space-evenly;
}
