:root {
  --dkcyan: hsl(185, 75%, 39%);
  --dkblue: hsl(229, 23%, 23%);
  --dkgrayBlue: hsl(227, 10%, 46%);
  --dkgray: hsl(0, 0%, 59%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dkcyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: right 47vw bottom 40vh, left 45vw top 40vh;
}

img {
  display: block;
}
.no-margin {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.cardOuter {
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
}

.cardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 0.5px solid var(--dkgray);
}

.info__image {
  border: 5px solid white;
  border-radius: 50%;
  margin: -3rem auto;
  align-items: center;
}

.topImg {
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  top: 4.1875rem;
  left: 5.5625rem;
  overflow: hidden;
}

.age,
.town {
  font-weight: 400;
}

.name {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dkBlue);
}
.stats__number {
  color: var(--dkBlue);
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.border {
  position: absolute;
  top: 400px;
  width: 250px;
  border: 1px solid var(--dkgray);
}
footer,
.footer {
  margin-top: 2.2rem;
  display: flex;
  justify-content: space-evenly;
}
